<!DOCTYPE html>
<html ng-app="journaux">
<head>
	<title>  Site de produit Deployd</title>

<script src="./js/angular.js"></script>
<script  src="./js/jquery.js" type="text/javascript"></script>
<script>
     angular.module("journaux" , ["customFilters"]);
 </script>
<link href="./css/bootstrap.css" rel="stylesheet"  type="text/css"/>




<script src="./../controllers/journaux.js"></script>
<script src="./../filters/customFilters.js"></script>
<script src="./../controllers/productListControllers.js"></script>

</head>
<body ng-controller="journauxCtrl">
	<h3> <span></span>exprerimentation du deployd en back-end</h3>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="">Journaux</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav" >
            <ul class="nav navbar-nav list-inline">
               <li class="nav-item">
                <a class="nav-link" href="">Categories</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="">Produits</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="">Offres</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row grid-row" ng-controller="productListCtrl">
        <div class="col-sm-3"> 
        <button ng-click="selectCategory()"
        class="btn btn-block btn-link btn-lg">Home</button>
        <button ng-repeat="item in data.products | orderBy:'category' | unique:'category'"
        ng-click="selectCategory(item)" ng-class="getCategoryClass(item)" class="btn btn-block btn-default btn-lg ">
            {{item}}
        </button>
        </div>
    <div class="col-sm-8 ">
        <div class="row container">
            <div class="card  m-2" style="width: 20rem;" ng-repeat="item in data.products | filter:categoryFilterFn | range:currentPage:pageSize">
                <div class="card-body">
                    <h4 class="card-title">{{item.name}}</h4>
                    <span class="badge badge-light float-right">{{item.price | currency:"€"}}</span> 
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text lead">{{item.description}}</p>
                    <a href="" class="card-link">Add to Card</a>
                 
                </div>
            </div>
        </div>
        <div class="row container">
            <nav aria-label="...">
                <ul class="pagination">
                    
                    <li class="page-item"  ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize " ng-class="getPageClass($index + 1)">
                        <a class="page-link" ng-click=" selectPage( $index + 1 ) ">{{$index + 1}} </a>
                    </li> 
                   
                </ul>
            </nav>
            <!--div class="pull-right btn-group"> 
                <button ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize "
                 ng-click=" selectPage( $index + 1 ) " class="badge badge-primary" ng-class="getPageClass($index + 1)"> {{$index + 1}} </button>
            </div--> 
        </div>   
    </div>
   
</div>


<script  src="./js/jquery.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

<script src="./js/bootstrap.js" type="text/javascript" ></script>

</body>

</html>