input.ng-invalid {
    background-color: lightpink;
}

input.ng-valid {
    background-color: lightgreen;
}

span.error {
    color: red;
    font-weight: bold;
}
.well.mx-auto{
    width: 500px ; 
}
.collapse1{
    overflow-y:scroll;
    height:500px;
    max-width:1100px;
}